<div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--2dp">
  <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
    <h4 class="mdl-cell mdl-cell--12-col">How to Play</h4>

    <!-- 1 -->
    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
      <div class="section__circle-container__circle mdl-color--accent"></div>
    </div>
    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
      <h5>Pick a winner for each category</h5>
      Fewer points are awarded for nominees that are favored to win. Fortune favors the bold.
    </div>

    <!-- 2 -->
    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
      <div class="section__circle-container__circle mdl-color--accent"></div>
    </div>
    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
      <h5>Double down on a sure thing</h5>
      Double down on a pick to earn twice its face value on a win... or lose the twice its face value on a loss. Only five double-downs are allowed.
    </div>

    <!-- 3 -->
    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
      <div class="section__circle-container__circle mdl-color--accent"></div>
    </div>
    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
      <h5>Lock in and pay</h5>
      Lock in your picks and pay to enter the pool. Check your scores on the leaderboard.
    </div>
  </div>
</div>
