<!-- Admin -->
<div class="mdl-layout__tab-panel mdl-color--grey-100" id="admin">
  <%= erb :admin %>
</div>

<!-- Picks -->
<div class="mdl-layout__tab-panel mdl-color--grey-100" id="picks">
  <%= erb :picks %>
</div>

<!-- Leaderboard -->
<div class="mdl-layout__tab-panel mdl-color--grey-100" id="leaderboard">
  <%= erb :leaderboard %>
</div>


<!-- Pay -->
<div class="mdl-layout__tab-panel mdl-color--grey-100" id="pay">
  <%= erb :pay %>
</div>
